@import url("./normalize.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* #titulo-pricipal {
    text-align: center;
} */

/* .contenedor-mascotas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px
} */